body {
	/*font-family: 'Nunito Sans', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
}

nav {
	margin: 0;
	padding: 0;
	height: 30px;
	width: 100%;
/*	background-color: rgba(255,255,255,0.5);*/
	background-color: rgba(0,0,0,0.5);
	/*background-color: black;*/
	position: fixed;
}
ul {
	margin: 0;
	padding: 0;
	padding-top: 3px;
}
li {
	margin: 0;
	padding: 10px 10px 10px 10px;
	display: inline;
}
.navi {
	margin: 0;
	padding: 5px;
	display: inline;
	color: black;
	font-size: 14px;
}
.navi:hover {
	cursor: pointer;
	color: orange;
}

h2 {
	text-align: center;
}


/*ABOUT PAGE*/
.about {
	width: 100%;
}
.about-p {
	padding: 5%;
}

/*PROJECTS*/
.projects {
	width: 100%;
}
.proj {
	margin: 0 5%;
}
.proj-img {
	border: 1px solid black;
}


/*LINK PAGE*/
.links {
	width: 100%;
	text-align: center;
}
.aLink {
	/*margin: 10px auto;*/

}




footer {
	text-align: center;
	font-size: 12px;
	padding: 5px;
	background-color: black;
	color: white;
}
