/*paralax
scroll magic
modal*/

body {

	font-family: 'Josefin Slab', serif;
/*	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Open Sans', sans-serif;*/
}

.profile-pic {
	border: 5px solid black;
	border-radius: 10px;
}

.aLink {
	display: inline-block;
	padding: 30px;
}

p {
	font-family: 'Open Sans', sans-serif;
}
.project {
	
}