 body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
/*	animation: firstFade;
	animation-duration: 0.8s;*/
	background: linear-gradient(126deg, #ff1b55, #ffc202, #ff6700);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 14s ease infinite;
	-moz-animation: AnimationName 14s ease infinite;
	animation: AnimationName 14s ease infinite;
}
@-webkit-keyframes AnimationName {
    0% {
    	background-position:0% 51%
    }
    50% {
    	background-position:100% 50%
    }
    100% {
    	background-position:0% 51%
    }
}
@-moz-keyframes AnimationName {
    0% {
    	background-position:0% 51%
    }
    50% {
    	background-position:100% 50%
    }
    100% {
    	background-position:0% 51%
    }
}
@keyframes AnimationName { 
    0% {
    	background-position:0% 51%
    }
    50% {
    	background-position:100% 50%
    }
    100% {
    	background-position:0% 51%
    }
}
/*@keyframes firstFade {
	0% {
		opacity: 0.0;
	}
	100% {
		opacity: 1.0;
	}
}*/

nav {
	margin: 0 auto;
	padding: 0 auto;
	height: 50px;
	width: 100%;
/*	background-color: rgba(255,255,255,0.5);*/
	background-color: rgba(255,255,255,0.5);
	/*background-color: black;*/
	position: fixed;
	animation: navDown;
	animation-duration: .5s;
	z-index: 1;
	box-shadow: 0px 5px 10px rgba(120,120,120,.2);
}
@keyframes navDown {
	0% {
		opacity: 0.0;
		height: 0px;
	}
/*	50% {
		opacity: 0.0;
		height: 0px;
	}
*/	100% {
		opacity: 1.0;
		height: 50px;
	}
}
nav ul {
	margin: 0;
	padding: 0;
	padding-top: 5px;
	list-style: none;
	display: block;
	text-align: center;
}
nav li {
	margin: 0;
	padding: 10px 40px;
	display: inline-block;
	letter-spacing: 3px;
	cursor: pointer;
	color: black;
	font-size: 12px;
	font-weight: 400;
	animation: naviWords;
	animation-duration: 2s;
}
/*.navi {
}*/

.home-button {
	opacity: 1.0;
	animation: buttonFade;
	animation-duration: 1s;
}
.about-button {
	opacity: 1.0;
	animation: buttonFade;
	animation-duration: 1.2s;
}
.projects-button {
	opacity: 1.0;
	animation: buttonFade;
	animation-duration: 1.5s;
}
.contact-button {
	opacity: 1.0;
	animation: buttonFade;
	animation-duration: 1.9s;
}

@keyframes buttonFade {
	0% {
		opacity: 0.0;
	}
	50% {
		opacity: 0.0;
	}
	100% {
		opacity: 1.0;
	}
}

h2 {
	text-align: center;
	margin: 0;
	padding: 0;
	padding-top: 100px;
	padding-bottom: 2%;
	font-size: 70px;
	letter-spacing: 2px;
	font-weight: 800;
	/*-webkit-text-fill-color: transparent;*/
  	/*-webkit-background-clip: text;*/
  	/*background: linear-gradient(126deg, #ff1b55, #ffc202, #ff6700);*/
  	color: blue;
}

/*HOME*/
.home {
	width: 100vw;
	height: 100vh;
/*	background-color: #101010;
	background-image: url("../img/desk-interior-arrangement-13.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
*/}

/*NAME HEADER*/
.header {
	display: block;
font-family: 'Quicksand', sans-serif;
/*	font-size: 30vh;*/
	font-size: 15vh;
	margin: 0;
	padding: 0;
	text-align: center;
}
.grace-head {
	padding-top: 30vh;
	font-weight: 200;
    animation: totheright;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
	color: #fafafa;
}
@keyframes totheright {
	0% {
        color: rgba(255,255,255,0.0);
        margin-left: -1000px;
	}
    50%{
        color: rgba(255,255,255,0.0);
        /*margin-right: -200px;*/
    }
    100%{
        color: #fafafa; /*this will be the "black" color????*/
        margin-left: 0px;
    }
}
.moon-head {
	font-weight: 400;
	margin-top: -3%;
	/*animation: flip;*/
	animation: totheleft;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	/*animation-delay: 1s;*/
        color: #fafafa;
	/*text-shadow: 5px 5px #101010;*/
}

@keyframes totheleft {
	0% {
        color: rgba(255,255,255,0.0);
        margin-left: 1000px;
	}
    70%{
        color: rgba(255,255,255,0.0);
        /*margin-right: -200px;*/
    }
    100%{
        color: #fafafa;
        margin-left: 0px;
    }
}


/*ABOUT PAGE*/
.about {
	width: 100%;
	height: 90vh;
	background-color: #FEFEFE;
	animation: aboutFade;
	animation-duration: 2s;
}
@keyframes aboutFade {
	0% {
		opacity: 0.0;
	}
	100% {
		opacity: 1.0;
	}
}

.about-p {
	padding: 5%;
	padding-top: 2%;
	margin: 0;
}

/*img b/w about and proj*/
.afterabout {
/*    background-image: url("../img/geo.jpg");*/
    /* Set a specific height */
    min-height: 10vh;
    /* Create the parallax scrolling effect */
/*    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}


/*PROJECTS*/
.projects {
	width: 100%;
	height: 90vh;
	padding-top: 0px;
	background-color: #FAFAFA;
}
.project-list {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.project-list li {
	display: flex;
	justify-content: space-around;
	margin: 10px;
	position: relative;
	border: 1px solid #ccc;
	width: 300px;
	height: 300px;
	overflow: hidden;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 20px;
}


.proj-a {
  position: relative
}

.proj-a span {
  display: none;
  position: absolute;
  /*bottom: 0;*/
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-right: 50px;
  background: rgba(0,0,0,.8);
  color: white;
  	animation-name: getsmall;
	animation-duration: .4s;
}

@keyframes getsmall{
	0%{
		background: rgba(0,0,0,.0);
		opacity: 0;
		padding-left: 200px;
	}
	100%{
		opacity: 1;
		padding-left: 20px
		background: rgba(0,0,0,.8);
	}
}

.proj-a:hover span {
  display: block;
}


/*img zooms in when hovered*/
/*doesnt work with span on top width + height 100% boo*/
.proj img {
	transition: all 1s ease;
}

.proj img:hover {
	transform: scale(1.1);
}



/*to show strip of gradient*/
.afterprojects {
    min-height: 10vh;
}


/*CONTACTS PAGE*/
.contact {
	width: 100%;
	height: 90vh;
	padding-top: 0px;
	background-color: #FAFAFA;
	text-align: center;
}
/*.link-pic {
	width: 30px;
}*/
.link-pic {
	margin: 20px 20px 50px 20px;
}
.aftercontact {
    min-height: 10vh;
}

button {
	cursor: pointer;
}




footer {
	text-align: center;
	/*font-size: 12px;*/
	padding: 5px;
	background-color: black;
	color: white;
}
